<!-- <% if current_user.id == @user.id %> -->

<div class="main-section">
	<div class="user-section">
		<div class="username-section">
			<%= @user.name %>
		</div>
		<div class="latest-limerick">
		</div>
	</div>
</div>
