<!-- <% if current_user.id == @user.id %> -->

<div class="main-section">
	<div class="user-section">
		<div class="username-section">
			<%= @user.name %>
		</div>
		<div class="latest-limerick">
		</div>
	</div>
</div>

<div class="main-list">
	<div class="headshot-links" id="user-box">
		<strong> User Name: </strong>
		<%= @user.name %>
		<br/>
		<strong>Email:</strong>
		<%= @user.email %> <br/>
		<%= link_to 'Edit Profile', edit_user_path(@user) %>
	</div>
</div>
