<ul>
  <% @limericks.each do |limerick| %>
  <li>
	  <h3>
		  <%= limerick.users.name %>
	  </h3>
    <div>
		<h5>
			<%= limerick.title %>
		</h5>
		<%= limerick.content %>
	</div>
  </li>
  <% end %>
</ul>
